*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.home
{
    width: 100%;
    position: relative;
    background-image: url(../../public/image/The\ Yoga\ A12\ is\ a\ budget\ version\ of\ Lenovo’s\ Yoga\ Book\,\ but\ it\ only\ comes\ in\ Android.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    height:85vh;
}
.home .top_banner
{
    max-width: 100%;
    
    padding: 50px 60px;
}
.home .top_banner .contant
{
    width: 100%;
    position: relative;
    top: 20%;
    padding: 10px 50px;
}
 
.home .top_banner .contant h2
{
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 1px;
    font-size:50px;
    margin-top: 10px;
}
.home .top_banner .contant .offer

{
    color: #e5a545f6;
   
}
.home .top_banner .contant p

{
    color: #232323;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size:25px;
    width:400px;
} 
.home .top_banner .contant .link
{
    padding: 10px 30px;
    margin: 30px;
    background: #0d0d0d;
    color:  #f3b573;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}
.home .top_banner .contant .link:hover
{
    background: #fed700;
    color: #232323;
}
 